$width: 100%;

@mixin column($number) {
  width: $width / $number;
  height: 100%;
}

/* ================================
.col-1 { @include column(1); }
.col-2 { @include column(2); }
.col-3 { @include column(3); }
.col-4 { @include column(4); }
.col-5 { @include column(5); }
.col-6 { @include column(6); }
.col-7 { @include column(7); }
.col-8 { @include column(8); }
.col-9 { @include column(9); }
.col-10 { @include column(10); }
.col-11 { @include column(11); }
.col-12 { @include column(12); }
* ================================= */

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin position($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: #000;
}
button {
  color: #000;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
