@charset 'uft-8';
@import '_reset.scss';

/* common */
.inner {
  width: 1440px;
  margin: 0 auto;
}
.mb50 {
  margin-bottom: 50px;
}
.row {
  @include flex(row, center, center);
}
.col-2 {
  @include column(2);
}
.col-4 {
  @include column(4);
}
.btn {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 0.9em;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}

/* body */
body {
  font-family: 'Nanum Gothic';
}

/* header */
header {
  @include position(fixed, 0, 0);
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  z-index: 100;

  .inner {
    @include flex(row, center, center);
  }
}

.logo {
  width: 150px;
  height: 60px;
  margin-right: 20px;
  background: url('https://heimish902.github.io/converse/images/logo.png') no-repeat center / cover;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

nav {
  @include flex(row, center, space-between);
  width: 100%;

  .left {
    li {
      margin-right: 20px;
      font-size: 0.9em;
      font-weight: 600;
    }
    li:last-child a {
      color: red;
    }
  }
  .right {
    @include flex(row, center, center);

    li {
      margin-right: 20px;
    }
    button {
      width: 60px;
      height: 60px;
      color: #fff;
      background-color: #000;
      cursor: pointer;
    }
  }
  ul {
    @include flex(row, center, center);
  }
}

/* section */
section {
  margin-bottom: 50px;
}

/* comme des garcons (common) */
.grid {
  position: relative;
  margin-top: 60px;

  .left {
    position: relative;
    width: 50%;
    float: left;

    .text {
      @include position(absolute, 0, 0);
      padding: 30px;
      z-index: 50;

      h2 {
        margin-bottom: 20px;
        line-height: 1.2em;
        font-size: 50px;
        font-weight: 600;
      }
      p {
        line-height: 1.5em;
        margin-bottom: 20px;
      }
    }
  }

  .right {
    @include flex(row, center, center);
    width: 50%;
    flex-wrap: wrap;
    float: right;
  }
  .col-2 {
    position: relative;
    height: 450px;
    .text {
      .top_left {
        @include position(absolute, 0, 0);
        padding: 30px 20px;
        cursor: pointer;
      }
      .top_right {
        position: absolute;
        top: 0;
        right: 0;
        padding: 30px 20px;
        font-size: 0.9em;
        font-weight: 600;
        text-align: right;
        white-space: pre-wrap;
      }
      .bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 30px 20px;

        p:first-child {
          margin-bottom: 10px;
        }
      }
    }
    img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .img2 {
      display: none;
    }
  }
  .col-2:hover .img2 {
    display: block;
  }
}

/* new Items */
.title {
  padding: 0 20px;
  margin-bottom: 20px;

  h2 {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 600;
  }
  a {
    font-weight: 600;
    span {
      margin-right: 5px;
      font-size: 1em;
    }
  }
  a:hover {
    text-decoration: underline;
  }
}
.col-4 {
  position: relative;
  height: 432px;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
  }
  img {
    display: block;
    width: 100%;
  }
  p {
    position: absolute;
    bottom: 15px;
    left: 30px;
    font-weight: 400;
    color: #fff;
  }
}

.col-4:hover .bg {
  opacity: 1;
  transition: all 0.8s;
}

/* banner */
.banner {
  position: relative;
  .btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
}

/* run start  hike */
.runStartHike {
  .left {
    .text {
      top: auto;
      bottom: 0;
    }
  }
}

/* footer */
footer {
  @include flex(row, center, center);
  padding: 50px 0;
  font-size: 0.75em;
  color: rgb(116, 116, 116);
  background-color: #000;
  .left div,
  .right div {
    margin-bottom: 10px;
  }
  span,
  address {
    padding: 0 5px;
    letter-spacing: -1px;
    border-right: 1px solid #2e2e2e;
  }
  a {
    padding: 0 5px;
    color: #fff;
  }

  .copyright {
    margin-top: 30px;
    padding-left: 5px;
  }
}
